{% extends "layout.html" %}
{% set active_page = "contacts" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img src="static/img/logo.jpg" width="100%"alt="GUTS cover">
    </div>
  </div>
  <h2>Contact the society</h2>
  <div class="row">
    <div class="col-md-3">
      <a href="mailto:team@gutechsoc.com" target="_blank">
        <img class="media-object" src="static/img/email.png" alt="email icon" style="margin-left: auto; margin-right:auto; display: block; width:90px;">
        <h4 style="font-family: 'Raleway', sans-serif; text-align: center;">team@gutechsoc.com</h4>
        </a>
    </div>
    <div class="col-md-3">
      <a href="https://twitter.com/GUTechSoc" target="_blank">
        <img class="media-object" src="static/img/tw.jpg" alt="twitter icon" style="margin-left: auto; margin-right:auto; display: block; width:90px;">
        <h4 style="font-family: 'Raleway', sans-serif; text-align: center;">@GUTechSoc<h4>
      </a>
    </div>
    <div class="col-md-3">
      <a href="https://www.facebook.com/gutechsoc" target="_blank">
        <img class="media-object" src="static/img/facebook-logo.jpg" alt="fb icon" style="margin-left: auto; margin-right:auto; display: block; width:90px;">
        <h4 style="font-family: 'Raleway', sans-serif; text-align: center;">Facebook Page</h4>
        </a>
    </div>
  </div>
  <h2>Office Bearers</h2>
  <div class="row">
    <div class="col-md-2">
      <img class="img-circle" src="static/img/faces/Adam.jpg" alt="Name" style="margin-left: auto; margin-right:auto; display: block; width:110px;">
      <h2 style="font-family: 'Raleway', sans-serif; text-align: center;">Adam</h2>
      <p style="text-align: center;">Projects</p>
    </div>
    <div class="col-md-2">
      <img class="img-circle" src="static/img/faces/Daniel.jpg"  alt="Name" style="margin-left: auto; margin-right:auto; display: block; width:110px;">
      <h2 style="font-family: 'Raleway', sans-serif; text-align: center;">Daniel</h2>
      <p style="text-align: center;">Secretary</p>
    </div>
    <div class="col-md-2">
      <img class="img-circle" src="static/img/faces/Josh.jpg" alt="Name" style="margin-left: auto; margin-right:auto; display: block; width:110px;">
      <h2 style="font-family: 'Raleway', sans-serif; text-align: center;">Josh</h2>
      <p style="text-align: center;">Communications</p>
    </div>
    <div class="col-md-2">
      <img class="img-circle" src="static/img/faces/Iva.jpg" alt="Name" style="margin-left: auto; margin-right:auto; display: block; width:110px;">
      <h2 style="font-family: 'Raleway', sans-serif; text-align: center;">Iva</h2>
      <p style="text-align: center;">Treasurer</p>
    </div>
    <div class="col-md-2">
      <img class="img-circle" src="static/img/faces/Tomas.jpg" alt="Name" style="margin-left: auto; margin-right:auto; display: block; width:110px;">
      <h2 style="font-family: 'Raleway', sans-serif; text-align: center;">Tomasz</h2>
      <p style="text-align: center;">President</p>
    </div>

  </div>
  {% include "footer.html" %}
</div>
<link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
<script src="../static/js/holder.js"></script>
{% endblock %}





















