<!-- FOOTER -->
      <hr class="featurette-divider">
      <footer>
        <p class="pull-right"><a href="https://github.com/danieltcv" target="_blank"><img src="/static/img/pi2.png" alt="pi2" height="13" /> PiSquared design </a></p>
        <p> 2013 GUTS &middot;&nbsp;
        <a href="static/documents/Constitution.pdf" target="_blank">Constitution</a>
        <div class="fb-like" data-href="https://www.facebook.com/gutechsoc" data-width="300" data-show-faces="true" data-send="false"></div>
        <div class="g-plusone" data-annotation="inline" data-width="300"></div>


        </p>
      </footer>
