{% extends "layout.html" %}
{% set active_page = "hackathon" %}
{% block body %}
<style type="text/css">
.keep_calm_footer {
    height: 25px; 
    padding-left: 7px; 
    padding-right: 7px;
}

A.hash:link  {text-decoration: none; color: white;}
A.hash:visited {text-decoration: none; color: white;}
A.hash:hover {text-decoration: underline; color: white;}
A.hash:active {text-decoration: none; color: white;}
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<link rel="stylesheet" href="static/css/blueimp-gallery.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.5.1/jquery.nicescroll.js"></script>
<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div class="container">
  <h1 style="font-family: 'Raleway', sans-serif; text-align: center;font-size: 55pt;">Thank you!</h1>
  <hr>
  <div class="row">
<div class="panel panel-default">
<div class="panel-body">
<div id="gallery_6" style="overflow-y:scroll; height:400px;">

</div>
</div>
</div>
<hr>
  </div>
  <div class="container"><div class="col-md-6">
  <div class="jumbotron" style="background-color: #B22222; color: white">
    <div class="container">
      <center>
      <a href="#register"><img src="static/img/doyouhavetheguts.png" alt="do you have the guts" height="300px"/></a>
      <hr>
      <h2 style="font-family: 'Raleway', sans-serif; color: white;">
        <!--<span class="glyphicon glyphicon-calendar"></span>-->
        <img src="/static/img/cal.png" height="30px"/>
        1 - 3 November 2013
      </h2>
      <hr>
      <a href="http://gutechsoc.com" target="_blank">
        <img src="static/img/hackathon/logo_bw.png" alt="gutechsoc icon" class="keep_calm_footer"/>
      </a>
      <a href="http://www.gla.ac.uk/" target="_blank">
        <img src="static/img/hackathon/uog_white.png" alt="university of glasgow icon" class="keep_calm_footer"/>
      </a>
      <a href="http://www.dcs.gla.ac.uk/~matthew/DCS/Sumgroup.html" target="_blank" style="font-family: 'Raleway', sans-serif; color: white;">
        SUMGroup</a>
      <a href="http://www.sie.ac.uk/" target="_blank">
        <img src="static/img/hackathon/sie_logo.png" alt="sie icon" class="keep_calm_footer"/>
      </a>
      <a href="http://www.jpmorgan.com/" target="_blank">
        <img src="static/img/hackathon/jpmorgan.png" alt="compsoc icon" class="keep_calm_footer"/>
      </a>
      <a href="http://www.barclays.co.uk/" target="_blank">
        <img src="static/img/hackathon/barclays.png" alt="sie icon" class="keep_calm_footer"/>
      </a>
      <a href="http://www.amazon.com/" target="_blank">
        <img src="static/img/hackathon/amazon.png" alt="sie icon" class="keep_calm_footer"/>
      </a>
      <a href="http://www.sas.com/" target="_blank">
        <img src="static/img/hackathon/sas.png" alt="sie icon" class="keep_calm_footer"/>
      </a>
      <a href="http://www.github.com/" target="_blank">
        <img src="static/img/hackathon/github.png" alt="sie icon" class="keep_calm_footer"/>
      </a>
      <a href="http://www.metaswitch.com/" target="_blank">
        <img src="static/img/hackathon/metaswitch.png" alt="metaswitch icon" class="keep_calm_footer"/>
      </a>
      <a href="http://www.skyscanner.com/" target="_blank">
        <img src="static/img/hackathon/skyscanner.png" alt="skyscanner icon" class="keep_calm_footer"/>
      </a>
      <a href="http://www.dynamicallyloaded.com/" target="_blank">
        <img src="static/img/hackathon/dynamicallyloaded.png" alt="dynamicallyloaded icon" class="keep_calm_footer"/>
      </a>
      <a href="http://www.svc2uk.com/" target="_blank">
        <img src="static/img/hackathon/svc2uk.png" alt="svc2uk icon" class="keep_calm_footer"/>
      </a>
      <a href="http://www.informatics-ventures.com/" target="_blank">
        <img src="static/img/hackathon/info_ventures.png" alt="informatics ventures icon" class="keep_calm_footer"/>
      </a>
      <a href="http://www.dominos.co.uk/" target="_blank">
        <img src="static/img/hackathon/dominos.png" alt="dominos icon" class="keep_calm_footer"/>
      </a>
      <a href="http://www.nakedsoup.com/" target="_blank">
        <img src="static/img/hackathon/naked-soup.png" alt="naked soup icon" class="keep_calm_footer"/>
      </a>
      <a href="http://scotlandhacks.org.uk/" target="_blank">
        <img src="static/img/hackathon/scotland_hacks.png" alt="scotland hacks icon" class="keep_calm_footer"/>
      </a>
      <a href="http://glasgowcompsoc.com/" target="_blank">
        <img src="static/img/hackathon/compsoc.png" alt="compsoc icon" class="keep_calm_footer"/>
      </a>
      
     </center>
      
      </div>
 </div><!-- / jumbotron -->
</div>
       <div class="col-md-6">
      <a class="twitter-timeline" href="https://twitter.com/search?q=%23guhack" data-widget-id="396648184358776832"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


      </div>
</div> 


  {% include "footer.html" %}
</div>

<script src="static/js/blueimp-gallery.min.js"></script>
<script>
// load more images dynamically
function load_more_images(id) {
    gurl = "/get_galleries_files?gallery_id=" + id + "";
    $.ajax({
        url: gurl,
        dataType : 'json', 
        success:function(result){
            for (var pic = 0; pic < result.files.length; pic++){
                a=result;
                picHTML = ""
                picHTML += 
                    "<div class=\"col-sm-6 col-md-2\" style=\"display: inline-block; float: none\">" +
                        "<a href=\"static/gallery/" + id + "/o/" + result.files[pic] + "\" class=\"thumbnail\">" +
                            "<img src=\"static/gallery/" + id + "/t/" + result.files[pic] + "\" alt=\"...\" style=\"height:100px;\">" +
                        "</a>" +
                        "</div>";
                $("#gallery_" + id).append(picHTML)
            }
        }
    });
    // Lightbox element
    document.getElementById('gallery_' + id).onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = {index: link, event: event},
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };

}

// On ready state of the page
$(document).ready(
    function() {
        load_more_images(6);
        $("#gallery_6").niceScroll();
    }
);
</script>





{% endblock %}





















