  <!-- Modal -->
  <div class="modal fade" id="event-remove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content" style="padding:30px;">
            <h1>Remove?</h1>
            <p>Are you sure you want to remove?</p>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <input type="hidden" id="event_remove_id" />
            <a href="javascript:event_remove();" class="btn btn-danger"><span class="glyphicon glyphicon-ban-circle"></span> Remove</a>
      </div>
    </div>
  </div>
