  <!-- Modal -->
  <div class="modal fade" id="event-email" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" style="width:900px;">
      <div class="modal-content" style="padding:30px;">
            <h1>Email event</h1>
            <input hidden id="event-email-id" />
            <iframe id="email_event_iframe" width="800" height="300"></iframe>
            <div id="event_email_status" class="alert alert-success" hidden></div>
            <a href="javascript:send_email()" class="btn btn-primary">Send mail</a>
        <!--End of Add event tab-->
      </div>
    </div>
  </div>
