  <!-- Modal -->
  <div class="modal fade" id="modal-join" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Email</h4>
        </div>
        <div class="modal-body">
          <div id="content_wrapper">
            <div class="alert alert-danger" hidden id="modal-error"></div>
            <!-- Prevents CSRF-->
            {{form.hidden_tag()}}
            Please enter your full name:
            {{form.fullname(type='text', class='form-control', placeholder='Name Surname')}}
            <br>
            <div id="gu_email_wrapper">
              University of Glasgow email:
              <div class="input-group" id="gu_email-container">
                {{form.gu_email(type='text', class='form-control', placeholder='Your matric number + first letter of your surname')}}
                <span class="input-group-addon">@student.gla.ac.uk</span>
              </div>
            </div>
            <a href="javascript:no_gu_email();" id="no_gu_link">Don't have GU email?</a>
            <div id="other_email_wrapper" hidden>
              <p>If you don't know yet your GU email, you can enter any other. Please note however that only University of Glasgow students are accepted for registration.</p>
              {{form.confirm_gu}}
              I confirm that I am University of Glasgow student
              <div class="input-group" id="other_email-container">
                <span class="input-group-addon">email: </span>
                {{form.other_email(type='text', class='form-control')}}
              </div>
            </div>
          </div>
          
          <div class="alert alert-success" id="modal-result" hidden>
            <p id="modal-thanks">Thank you! You'll hear from us soon at </p>
          </div>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" id="modal-register">Register</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
