{% extends "layout.html" %}
{% set active_page = "sponsors" %}
{% block body %}
<style type="text/css">
.sponsors {
margin-left: auto; margin-right:auto; display: block; width:150px;
}
</style>
<div class="container">
    <div class="row">
      <div class="col-md-12">
          <h2>Our friends and sponsors. <span class="text-muted">A big Thank you!</span></h2>
          <p class="lead">All of this awesomeness would not be possible withour our many friends and sponsors. <br>Thanks to:</p>
      </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <a href="http://www.dominos.co.uk/" target="_blank">
        <img class="media-object sponsors" src="static/img/sponsors/dominos_big.png" alt="sponsor icon">
        <h4 style="font-family: 'Raleway', sans-serif; text-align: center;">Dominos pizza</h4>
        </a>
    </div>
    <div class="col-md-3">
      <a href="http://www.sie.ac.uk/" target="_blank">
        <img class="media-object sponsors" src="static/img/sponsors/sie_big.png" alt="sponsor icon">
        <h4 style="font-family: 'Raleway', sans-serif; text-align: center;">SIE</h4>
        </a>
    </div>
    <div class="col-md-3">
      <a href="http://www.svc2uk.com/" target="_blank">
        <img class="media-object sponsors" src="static/img/sponsors/svc2uk_big.png" alt="sponsor icon">
        <h4 style="font-family: 'Raleway', sans-serif; text-align: center;">SVC2UK</h4>
        </a>
    </div>
    <div class="col-md-3">
      <a href="http://www.nakedsoup.com/" target="_blank">
        <img class="media-object sponsors" src="static/img/sponsors/naked-soup_big.png" alt="sponsor icon">
        <h4 style="font-family: 'Raleway', sans-serif; text-align: center;">naked soup</h4>
        </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <a href="http://www.informatics-ventures.com/" target="_blank">
        <img class="media-object sponsors" src="static/img/sponsors/info_ventures_big.png" alt="sponsor icon">
        <h4 style="font-family: 'Raleway', sans-serif; text-align: center;">Informatic Ventures</h4>
        </a>
    </div>
    <div class="col-md-3">
      <a href="http://www.skyscanner.com/" target="_blank">
        <img class="media-object sponsors" src="static/img/sponsors/skyscanner_big.png" alt="sponsor icon">
        <h4 style="font-family: 'Raleway', sans-serif; text-align: center;">Skyscanner</h4>
        </a>
    </div>
    <div class="col-md-3">
      <a href="http://techmeetup.co.uk/" target="_blank">
        <img class="media-object sponsors" src="static/img/sponsors/tech_meetup.png" alt="sponsor icon">
        <h4 style="font-family: 'Raleway', sans-serif; text-align: center;">TechMeetup</h4>
        </a>
    </div>
  </div>

  {% include "footer.html" %}
</div>
<link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
<script src="../static/js/holder.js"></script>
{% endblock %}





















