{% extends "layout.html" %}
{% set active_page = "sponsors" %}
{% block body %}
<style type="text/css">
.sponsors {
margin-left: auto; margin-right:auto; display: block; width:150px;
}
</style>
<div class="container">

  <h2>Our sponsors</h2>
  <div class="row">
    <div class="col-md-3">
      <a href="http://www.dominos.co.uk/" target="_blank">
        <img class="media-object sponsors" src="static/img/dominos_big.png" alt="sponsor icon">
        <h4 style="font-family: 'Raleway', sans-serif; text-align: center;">Dominos pizza</h4>
        </a>
    </div>
    <div class="col-md-3">
      <a href="http://www.sie.ac.uk/" target="_blank">
        <img class="media-object sponsors" src="static/img/sie_big.png" alt="sponsor icon">
        <h4 style="font-family: 'Raleway', sans-serif; text-align: center;">SIE</h4>
        </a>
    </div>
    <div class="col-md-3">
      <a href="http://www.svc2uk.com/" target="_blank">
        <img class="media-object sponsors" src="static/img/svc2uk_big.png" alt="sponsor icon">
        <h4 style="font-family: 'Raleway', sans-serif; text-align: center;">SVC2UK</h4>
        </a>
    </div>
    <div class="col-md-3">
      <a href="http://www.skyscanner.net/" target="_blank">
        <img class="media-object sponsors" src="static/img/skyscanner_big.png" alt="sponsor icon">
        <h4 style="font-family: 'Raleway', sans-serif; text-align: center;">SVC2UK</h4>
        </a>
    </div>
  </div>

  {% include "footer.html" %}
</div>
<link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
<script src="../static/js/holder.js"></script>
{% endblock %}





















